[Desktop Entry]
Version=1.0
Type=Application
Name=Anki
GenericName=Flashcards
Comment=An intelligent spaced-repetition memory training program
Exec=/home/minhbui/.config/sway/with-ibus-x11.sh /usr/local/bin/anki %f
Icon=anki
Terminal=false
Categories=Education;
StartupNotify=true
