[Desktop Entry]
X-SnapInstanceName=firefox
Version=1.0
Type=Application
X-SnapAppName=firefox
Name=Firefox
GenericName=Web Browser
Comment=Fast and private browser
Exec=/home/minhbui/.config/sway/with-ibus-x11.sh /snap/bin/firefox %u
Terminal=false
Icon=/snap/firefox/current/default256.png
StartupWMClass=firefox_firefox
Categories=GNOME;GTK;Network;WebBrowser;
MimeType=application/json;application/pdf;application/rdf+xml;application/rss+xml;application/x-xpinstall;application/xhtml+xml;application/xml;audio/flac;audio/ogg;audio/webm;image/avif;image/gif;image/jpeg;image/png;image/svg+xml;image/webp;text/html;text/xml;video/ogg;video/webm;x-scheme-handler/chrome;x-scheme-handler/http;x-scheme-handler/https;x-scheme-handler/mailto;
StartupNotify=true
Actions=new-window;new-private-window;open-profile-manager;

[Desktop Action new-window]
Name=New Window
Exec=/home/minhbui/.config/sway/with-ibus-x11.sh /snap/bin/firefox --new-window %u

[Desktop Action new-private-window]
Name=New Private Window
Exec=/home/minhbui/.config/sway/with-ibus-x11.sh /snap/bin/firefox --private-window %u

[Desktop Action open-profile-manager]
Name=Open Profile Manager
Exec=/home/minhbui/.config/sway/with-ibus-x11.sh /snap/bin/firefox --ProfileManager
